* {
  font-family: Droid Sans, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 50px;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.container-residents{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
}

.resident-card {
  border: 1px solid silver;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.resident-card li {
  list-style: none;
}

.container-location{
  padding: 1rem;
}

.container-location li{
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

img{
  max-width: 100%;
  height: auto;
}
